@import "../utils/mixin-map.scss";

.avatar-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 210px;
  height: 216px;
  border: 1px solid getColor("primary");
  margin: $spaced;
}

.avatar-image {
  width: 200px;
  height: 206px;
  border-radius: 100%;
  background-image: $avatar-image;
  background-size: 200px 260px;
  background-position: center;
}

@media (max-width: 850px) {
  .avatar-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 140px;
    height: 146px;
    border: 1px solid getColor("primary");
    margin: $spaced-mobile;
  }
  
  .avatar-image {
    width: 130px;
    height: 136px;
    border-radius: 100%;
    background-image: $avatar-image;
    background-size: 130px 160px;
    background-position: center;
    transition: filter 1s;
  }

  .filter {
    filter: grayscale(0.3) contrast(0.8) brightness(0.75);
    }  
}