@import "../utils/mixin-map.scss";

.button {
  background-color: $blue;
  width: 370px;
  height: 80px;
  border-radius: 5px;
  margin: $spaced;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  & a {
    @include text-style-map(
      $Dosis-400,
      $headline-4,
      "light"
    );
  }
}

@media (max-width: 850px) {
  .button {
    background-color: $blue;
    width: 230px;
    height: 48px;
    border-radius: 5px;
    margin: $spaced;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & a {
      @include text-style-map(
        $Dosis-400,
        $button,
        "light"
      );
    }
  }
}