@import "../utils/mixin-map.scss";

.icon {
  align-self: start;
  margin: 12px 0px;
  width: 30px;
  display: none;
  @media (max-width: 850px) {
    &#{&}-show {
        display: block;
    }
  }
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
      @include text-style-map(
        $OpenSans-300,
        $headline-4
      );
    &__item {
      margin-right: 37px;
      text-align: center;
      & a {
        color: getColor();
        &:hover {
          cursor: pointer;
        }
      }
      &--selected a {
        margin-right: 37px;
        color: getColor("primary");
        &:hover {
          cursor: pointer;
        }
      }
    }
  }


@media (max-width: 850px) {

  .icon-show {
    display: block;
    align-self: start;
    margin: 12px 0px;
    width: 30px;
  }
  .menu {
    list-style: none;
    margin-left: -30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @include text-style-map(
      $OpenSans-600,
      $headline-6
    );
    &__item {
      margin: 12px 84px;
      text-align: center;
      &--selected {
        margin: 12px 84px;
        text-align: center;
      }
      & a {
        color: getColor();
        &:hover {
          cursor: pointer;
        }
      }
      &--selected a {
      margin: 0px;
        color: getColor("primary");
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}