@use "sass:map";
@import "./maps.scss";

@function getColor($color: "secondary") {
    @return map.get($colors, $color);
}

@mixin text-style-map($family, $type, $color: "secondary") {
  font: map.get($family, "style") map.get($family, "weight")
    map.get($type, "size") map.get($family, "name");
  letter-spacing: map.get($type, "spacing");
  color: getColor($color);
}
