footer.footer
    section.social
        img(src=require("../../images/icons/icon-twitter.svg").default, alt="Icon Twitter")
        img(src=require("../../images/icons/icon-linkedin.svg").default, alt="Icon Linkedin")
        img(src=require("../../images/icons/icon-github.svg").default, alt="Icon GitHub")
        img(src=require("../../images/icons/icon-medium.svg").default, alt="Icon Medium")