header.header
    img.icon(src=require("../../images/icons/icon-menu.svg").default, alt="Icon menu")
    ul.menu
        li.menu__item--selected
            a(href="#") Home
        li.menu__item
            a(href="#") About
        li.menu__item
            a(href="#") Projects
        li.menu__item
            a(href="#") Blog