extends layout
block content
  block header
    include utils/menu-mix
    +menu('About', 'Home', 'Projects', 'Blog')
  main.main
    section.text
      h1.title Who I am?
      h3.content I’m engineer computational, UNAM. My speciality is BioMedical but I’m a lover of computational systems such as mobile, desktop and web apps.
        p Currently, I work JavaScript projects with ReactJS, VueJS and SvelteJS, like a frontend developer and NodeJS, like a backend developer.
        p My passion is code and develop whatever project that present me a challenge.
        p Will you like to know me more?
        p You can download my resume.
    section.social
        img(src=require("../images/icons/icon-pdf.svg").default, alt="Icon PDF")
  footer.footer