extends layout
block content
  block header
    //- include includes/header
    include utils/menu-mix
    +menu('Home', 'About', 'Projects', 'Blog')
  main.main
    .avatar-border
      .avatar-image
    section.text-center
      h1.title Emmanuel Rodríguez Ramírez
      h3.subtitle Developer Engineer in Web / Mobile Technologies
        br
        | Design Thinking and a lover of UI/UX
    .button
      a(href="#") Let's Chat!
  block footer
    include includes/footer      