doctype html
html(lang="en")
  head
    link(rel="icon" type="image/svg" href=require("../images/icons/icon-menu.svg").default)
    meta(name="description" content="Personal site, profile, Author: Emmanuel Rodríguez Ramírez")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title @roremDev
  body
    //- block header
    //-   include includes/header
    block content
    //- block footer
    //-   include includes/footer