@font-face {
  font-family: open-sans700;
  src: url(../assets/fonts/Open_Sans/OpenSans-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: open-sans400;
  /* src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf); */
  src: url(../assets/fonts/Dosis/Dosis-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: open-sans300;
  src: url(../assets/fonts/Open_Sans/OpenSans-Light.ttf);
  font-display: swap;
}
:root {
  --color-primary: #35495e;
  --color-secondary: #42b883;
  --font-strong: open-sans700;
  --font-regular: open-sans400;
  --font-light: open-sans300;
  --font-size-large: 50px;
  --font-size-base: 20px;
  --font-size-mobile-large: 40px;
  --font-size-mobile-base: 20px;
  --size-device-desktop: 1440px;
  --size-device-mobile: 360px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-regular);
}
a {
  text-decoration: none;
  font-size: var(--font-size-base);
}

.header {
  padding: 40px 140px;
}
.main {
  padding: 0px 20vw;
  display: grid;
  justify-items: center;
}
.footer {
  border-bottom: 16px var(--color-primary) solid;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 550px;
}
.nav-menu li {
  width: 110px;
  margin-right: 37px;
  text-align: center;
}
.nav-menu li a {
  color: var(--color-primary);
}
.nav-menu-item, .card-text-description {
  font-family: var(--font-light);
}
.nav-menu-selected,
.nav-menu li a:hover {
  font-family: var(--font-strong);
}
.nav-menu-selected,
.nav-menu li a:hover, .card:hover, .card-list:hover {
  cursor: pointer;

}

.profile-image {
  width: 200px;
  height: 206px;
  border-radius: 100%;
  background-image: url("../assets/images/photos/perfil-photo.jpg");
  background-size: 200px 260px;
  background-position: center;
}
.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 40px;
}
.icon-container img {
  margin: 0px 35px;
}

.text-color {
  color: var(--color-primary);
}
.text-container-start {
  justify-self: flex-start;
}
.text-container-center {
    text-align: center;
}
.text-size-primary {
    font-size: var(--font-size-large);
    margin: 20px 0;
}
.text-size-secondary {
    font-size: var(--font-size-base);
    margin: 5px 0px;
}
.paragraph {
  margin: 34px 0px;
}

.button-link {
  background-color: var(--color-primary);
    width: 370px;
    height: 80px;
    border-radius: 5px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-link a {
  color: white;
}

.card, .card-list, .card-text-footer {
  display: grid;
}
.card, .card-list {
  height: 250px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  border-bottom: 5px var(--color-primary) solid;
}
.card, .card-text-footer {
  grid-template-columns: 1fr 1fr;
}
.card-list {
  grid-template-columns: 1fr;
}
.card-hero-image {
  background-color: #F7F7F7;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text-container {
  padding: 30px 40px;
}
.card-text-title {
  font-family: var(--font-strong);
}
.card-text-description {
  margin: 10px 0;
  height: 100px;
}
.card-text-footer section {
  display: flex;
  align-items: center;
}
.card-text-footer section img {
  margin-left: 1vw;
}
.card-text-footer-right {
  justify-content: flex-end;
  text-align: end;
}

#icon-menu, #icon-cross, .nav-mobile {
  display: none;
}

@media (min-width: 850px) and (max-width: 1130px) {
  .card {
  grid-template-columns: 0.5fr 1fr;
  }
}