@media (max-width: 850px) {
  #icon-menu {
    display: block;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-regular);
  }
  .body-hidde {
    overflow-y: hidden;
  }
  a {
    text-decoration: none;
    font-size: 30px;
  }
  
  .background-hidden {
    position: absolute;
    z-index: -1;
    transition: opacity 1s;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);    
  }
 
  .background-appear {
    opacity: 0.45;
  }

  .header {
    padding: 5vw 25px 0;
    background-color: white;
    height: 50px;
    overflow-y: hidden;
    transition: height 1s;
  }
  
  .header-expand {
    border-radius: 0px 0px 14px 14px;
    height: 244px;
  }

  .nav {
    display: none;
  }
  .nav-mobile {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
  }
  .nav img {
    margin-top: 10px;
    justify-self: center;
  }
  .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .nav-menu li {
    margin: 10px 0px;
    text-align: initial;
    width: auto;
  }  
  .nav-menu li a {
    color: var(--color-primary);
  }
  .nav-menu-item, .card-text-description {
    font-family: var(--font-light);
  }
  .nav-menu-selected{
    font-family: var(--font-strong);
  }  
    .main {
      margin-top: 10vw;
    padding: 0px;
    justify-items: start;
  }
  .profile-image {
    margin: 0 10vw;
    width: 130px;
    height: 130px;
    background-size: 130px 161px;
    transition: filter 1s;
  }
  .filter {
    filter: grayscale(0.3) contrast(0.8) brightness(0.75);
    }
  .text-container-default {
      text-align: unset;
      margin: 0 10vw;
  }
  .text-size-primary {
      font-size: 34px;
  } 
  .text-size-secondary {
      font-family: var(--font-light);
    font-size: var(--font-size-mobile-base);
  }
  .button-link {
    margin: 10vw;
    width: 80%;
  }
  .button-link a{
    font-size: 20px;
  }
  .icon-container {
  justify-content: space-around;
  margin: 55px 10vw 40px;
  }
}
